*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
    right: 0%;
    top: 0%;
}
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}
.centerdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerdiv a{
    height: 100px;
    width: 100px;
    background-color: #000000;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 110px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
}

.centerdiv a i {
    transition: all 0.3s  linear;
}

.centerdiv a:hover i{
    transform: scale(1.4);
}

.fa-instagram{
    color: #e84393;
}

.fa-youtube{
    color: #e84118;
}

.fa-twitter{
    color: aqua;
}

.fa-google{
    color: greenyellow;
}